.cards_categorias * {
  background: rgba(0, 0, 0, 0);
  /* background-color: antiquewhite; */
}

.card_categoria {
  height: 157px;
  overflow: hidden;
  /* background-color: rgba(10, 10, 10, 0.9); */
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_categoria div {
  color: #fcfcfc;
  /* background-color: rgba(100, 10, 10, 0.9); */
}

.card_categoria h1 {
  font-weight: 500;
  color: #fcfcfc;
  /* background-color: aqua; */
  text-shadow: 0px 1px 4px rgba(0, 0, 0, .2);
}

.card_categoria button {
  font-size: 0.7rem;
  text-transform: capitalize;
  font-weight: 100;
  border: 0;
  padding: 0.3rem;
  width: 150px;
  color: #fcfcfc;
  background-color: rgba(200, 200, 200, 0.4);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, .2);
}
