.carousel * {
  background-color: rgba(1, 1, 100, 0);
}

.carousel-item {
  height: 420px;
  overflow: hidden;
  background-color: rgba(100, 10, 10, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-caption {
  /* background-color: rgba(1, 100, 1, .5); */
  text-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
}

.carousel-caption h1 {
  /* background-color: rgba(1, 1, 1, 0.5); */
  font-size: 3.5rem !important;
  color: #EF8100 ;
  line-height: 78%;
}

.carousel-caption p {
  /* background-color: rgba(100, 1, 1, 0.5); */
  line-height: 96%;
  margin-bottom: -0.01rem;
}
