* {
    background-color: #fcfcfc;
    font-family: Arial, Helvetica, sans-serif;
}

.divForm {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 7%;

}

h1 {
    text-align: left;
    color: black;
    margin-bottom: 2px;
}

h4 {
    color: rgba(0, 0, 0, 0.692);
    text-align: left;
}

textarea {
    resize: none;
    min-height: 110px;
    max-height: 200px;
}


input,
textarea {
    background: none;
    display: block;
    width: 95.5%;
    margin: 10px 0 20px 0;
    padding: 10px 15px;
    font-size: 1.1em;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.274);
    border-radius: 1rem;
    color: black;
}

::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus,
textarea:focus {
    outline: none;
}

.buttonForm {
    display: flex;
    background-color: #b90000;
    border: none;
    padding: 10px 45px;
    color: #fcfcfc;
    transition: 0.5s;
    float: right;
    margin-bottom: 10px;
    font-style: inherit;
    font-size: 1.1rem;
}

.buttonForm:hover {
    cursor: pointer;
    color: rgb(116, 116, 116);
}

.messageSubmit {
    width: 300px;
    background-color: #b90000;
    border: none;
    border-radius: 20px;
    padding: 20px 15px;
    color: #fcfcfc;
    font-weight: 100;
    font-size: 1.1rem;
    animation: fadeIn 1s ease-in-out;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}