.navbar{
    display: flex;
    background-color: #b90000;
    padding: 10px;
}

ul {
    list-style: none;
    background-color: #b90000;
}

.buscar_antojo * {
    background-color: rgba(0, 0, 0, 0);
    color: #fcfcfc;
}
  
.buscar_antojo {
    height: auto;
    background-color: #b90000;
}

.buscar_antojo input {
    /* height: 50px; */
    color: black;
    background-color: #fcfcfc;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 10px;
}

.buscar_antojo button {
    /* height: 50px; */
    color: black;
    background-color: #fcfcfc;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 10px;
}

.nav-item{
    display: flex;
    background-color: #b90000;
    justify-content: center;
}

.nav-link {
    color: #fcfcfc;
}

.nav-link div {
    background-color: rgba(0, 0, 0, 0);
}

.nav-link:hover {
    color: #fcfcfc;
}

.nav-link:active {
    color: #fcfcfc;
}

.nav-link:focus{
    color: #fcfcfc;
}

.img-nav-list{
    width: 40px;
    height: 40px;
    padding: 0%;
    justify-content: center;
}

.nav-logo-container{
    background-color: #b90000;
    overflow: hidden;
}

.nav-logo-img{
    width: 280px;
    height: 80px;
}
