.piedepagina * {
    background-color: rgba(0, 0, 0, 0);
    color: #fcfcfc;
  }
  
  .piedepagina {
    height: 200px;
    background-color: #B90000;
    padding-top: 2rem;
  }

  footer {
    display: inline-table;
  }