.piedepagina * {
  background-color: rgba(0, 0, 0, 0);
  color: #fcfcfc;
  text-decoration: none;
}

.piedepagina {
  /* height: 200px; */
  /* height: auto; */
  background-color: #b90000;
  padding-top: 2rem;
}

footer {
  display: inline-table;
}


