.recibir_ofertas * {
  background-color: rgba(0, 0, 0, 0);
  color: #fcfcfc;
}

.recibir_ofertas {
  height: 200px;
  background-color: #ef8100;
}

/* .recibir_ofertas div {
  background-color: aquamarine;
} */

/* .recibir_ofertas div h1 {
  background-color: gray;
} */

/* .recibir_ofertas div div {
  background-color: gray;
} */

.recibir_ofertas input {
  height: 50px;
  color: black;
  background-color: #fcfcfc;
  border-radius: 10px;
  border-style: none;
}

.recibir_ofertas button {
  height: 50px;
  color: black;
  background-color: #fcfcfc;
  border-radius: 10px;
  border-style: none;
}
