.seguinos_en * {
  background-color: rgba(0, 0, 0, 0);
  color: #b90000;
}

.seguinos_en {
  height: 200px;
  background-color: #Fcfcfc;
}

/* .seguinos_en div  {
  background-color: blue;
  border-inline: 1px solid;
} */

/* .seguinos_en div div {
  background-color: aquamarine;
  border-inline: 1px solid;
} */

.seguinos_en img {
  height: 50px;
  /* background-color: chartreuse; */
}

/* .seguinos_en div {
  background-color: cadetblue;
} */

/* .seguinos_en div h2 {
  background-color: gray;
} */
